doctype html
head
  meta(charset='utf-8')
  title Frogz - About Us
  link(rel='stylesheet' type='text/css' href='css/frontpage.css')
  link(rel='icon' type='image/png' href='favicon.png')
h2 About FROGZ
| Under construction