doctype html
html
  head
    meta(charset='utf-8')
    title Frogz - Edit Page
    link(rel='stylesheet', type='text/css', href='/css/edit.css')
    link(rel='icon', type='image/png', href='/favicon.png')
  body
    p(class="errors")!= errors
    form(action='/edit' method='post')
      p
        label(for='pageid') Page Name (URL)
        br
        input(type='text' name='pageid' value=pageid readonly)
        br
        label(for='content') Editing password
        br
        input(type='password' name='password' value=password)
        br
        label(for='content') Content (markdown supported)
        textarea(name='content' autofocus='') #{_content}
        p
          input(type='submit' value='save')