doctype html
head
  meta(charset='utf-8')
  title Frogz
  link(rel='stylesheet' type='text/css' href='css/frontpage.css')
  link(rel='icon' type='image/png' href='favicon.png')
h1.shimmer.title FROGZ
img(src='apu_band.gif' alt='frogz')
p
  | Welcome to 
  strong Frogz
  | ! Frogz is a micro-hosting website that aims to help everyone create their own internet presence.
p
  | You can easily create your own pages using 
  strong plain text
  | , 
  strong MarkDown
  |  or 
  strong HTML
  | . No registration required.
h3
  | Click 
  a(href='/new') here
  |  to create a page!
hr
.boxed-container
  #features.boxed
    h2 Info
    p
      strong
        a(href='about') About
    p
      strong
        a(href='terms') Terms &amp; Conditions
    p
      strong
        a(href='markdown') Markdown Guide
  #features.boxed
    h2 Features
    ul(style='text-align:left')
      li Absolutely FREE and with no adds.
      li No coding knowledge required.
      li Totally anonymous - you don&apos;t even need to register an account.
      li Pages are editable with a defined password.
      li
        | Virtually no censorship - we only remove pages in 
        a(href='terms') very specific cases.
