doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Frogz
  link(rel='stylesheet' type='text/css' href='css/frontpage.css')
  link(rel='icon' type='image/png' href='favicon.png')
h1.shimmer.title FROGZ
img(src='apu_band.gif' alt='frogz')
p
  | Welcome to 
  strong Frogz
  | ! Frogz is a micro-hosting website that aims to help everyone create their own internet presence.
p
  | You can easily create your own pages using 
  strong plain text
  | , 
  strong MarkDown
  |  or 
  strong HTML
  | . No registration required.
h3
  | Click 
  a(href='/new') here
  |  to create a page!
hr
.boxed-container
  #features.boxed
    h2 Info
    p
      strong
        a(href='news') News
    p
      strong
        a(href='about') About
    p
      strong
        a(href='terms') Terms &amp; Conditions
  //-
    p
      strong
        a(href='random') Random Page
  #features.boxed
    h2 Features
    ul(style='text-align:left')
      li Absolutely 
        strong FREE
        |  and 
        strong NO ADS
        | .
      li No coding knowledge required.
      li Totally anonymous - no accounts needed.
      li Pages are editable with a defined password.
      li
        | We ❤️ Free Speech - check the 
        a(href='terms') Terms &amp; Conditions
        | .
