doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type="text/css", href='/css/read.css')
    link(rel='icon', type='image/png', href='favicon.png')
  body
    block content
      p!= content
      hr
      p#powered_by!= times