body {
	margin: 0 auto;
	padding: 1em;
	font-family: sans-serif;
	font-size: 16px;
	background-color: black;
	color: darkgray;
	text-align: left;
}

label {
	font-size: 24px;
}

textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 30vh;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px;
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: "Courier New", monospace;
}

.errors {
	color: red;
}

input,
select {
	background-color: black;
	color: white;
	font-size: 24px;
}

textarea,
input,
select {
	mix-blend-mode: exclusion;
}

button,
input[type="submit"] {
	font-size: 16px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px;
	background: rgb(66, 66, 66);
}

button,
input[type="submit"]:hover {
	border: 1px solid rgb(255, 255, 255);
	background: rgb(127, 127, 127);
}
div.preview,
div.edit {
	flex: 45%;
	border-radius: 2px;
	border: 2px solid gray;
	padding: 10px;
}
#bigbox {
	display: flex;
	flex-wrap: wrap;
}
/* mobile small */
@media (max-width: 700px) {
	body {
		padding: 0.5em;
	}
	div.preview,
	div.edit {
		flex: 100%;
		padding: 5px;
	}
	#bigbox {
		display: block;
	}
}
