body {
	font-family: sans-serif;
	background-color: white;
	color: black;
}
h1 {
	color: black;
	font-weight: bold;
}
h2 {
	color: #1f1f1f;
	font-weight: bold;
}
h3 {
	color: #1f1f1f;
	font-weight: bold;
}
/* unvisited link */
a:link {
	color: blue;
}

/* visited link */
a:visited {
	color: blueviolet;
}

/* mouse over link */
a:hover {
	color: darkblue;
}

/* selected link */
a:active {
	color: lightblue;
}
