:root {
	--bg-color: white;
	--text-color: black;
	--heading1-color: black;
	--heading2-color: #1f1f1f;
	--heading3-color: #1f1f1f;
	--link-color: blue;
	--link-visited-color: blueviolet;
	--link-hover-color: darkblue;
	--link-active-color: lightblue;
}

/* Unique overrides */
h1, h2, h3 {
	font-weight: bold;
}