body {
	font-family: sans-serif;
	background-color: black;
	color: darkgray;
}
h1 {
	color: #47b932;
}
h2 {
	color: #258814;
}
h3 {
	color: #c4ce2d;
}
/* unvisited link */
a:link {
	color: #2fa31a;
}

/* visited link */
a:visited {
	color: #2fa31a;
}

/* mouse over link */
a:hover {
	color: #195a0e;
}

/* selected link */
a:active {
	color: yellow;
}
