body {
	margin: 0 auto;
	max-width: 900px;
	padding: 1em;
	font-family: sans-serif;
	font-size: 16px;
	background-color: black;
	color: darkgray;
}
h1 {
	color: #47b932;
	font-size: 2em;
}
h2 {
	color: #258814;
	font-size: 1.5em;
}
h3 {
	color: #c4ce2d;
	font-size: 1.25em;
}
/* unvisited link */
a:link {
	color: #2fa31a;
}

/* visited link */
a:visited {
	color: #2fa31a;
}

/* mouse over link */
a:hover {
	color: #195a0e;
}

/* selected link */
a:active {
	color: yellow;
}
#powered_by {
	display: block;
	text-align: right;
}
#powered_by a {
	color: #2fa31a;
	font-weight: bold;
	text-decoration: none;
}
