body {
	font-family: sans-serif;
	background-color: #17490e;
	color: lightgray;
}
h1 {
	color: #c4ce2d;
}
h2 {
	color: #abb42d;
}
h3 {
	color: #9da52a;
}
/* unvisited link */
a:link {
	color: yellow;
}
/* visited link */
a:visited {
	color: orange;
}
/* mouse over link */
a:hover {
	color: gold;
}
/* selected link */
a:active {
	color: yellowgreen;
}

#powered_by a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
