:root {
	--bg-color: #17490e;
	--text-color: lightgray;
	--heading1-color: #c4ce2d;
	--heading2-color: #abb42d;
	--heading3-color: #9da52a;
	--link-color: yellow;
	--link-visited-color: orange;
	--link-hover-color: gold;
	--link-active-color: yellowgreen;
}

/* Specific overrides for this theme, if any */
#powered_by a {
	color: #ffffff;
}