:root {
	--bg-color: black;
	--text-color: #32cd32;
	--heading2-color: #2e8b57;
	--heading3-color: #006400;
	--link-color: #2fa31a;
	--link-hover-color: #3cb371;
	--font-family: monospace;
}

/* Styles unique to oldskool theme */
h2, h3, h4 {
	text-align: center;
}
h2 {
	font-style: italic;
}
strong {
	font-weight: 700;
	color: #6b8e23;
}
em, cite {
	color: #006400;
}
q, blockquote {
	font-style: italic;
	color: #228b22;
}
table {
	border: solid 1px #f8f8f8;
}
td {
	border: solid 1px #f8f8f8;
	padding: 0 8px;
	background-color: #006400;
	color: #eeefee;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}