:root {
	--bg-color: #4e4f51;
	--text-color: lightgray;
	--heading1-color: #cdcecf;
	--heading2-color: #b4b5b7;
	--heading3-color: #b4b5b7;
	--link-color: gold;
	--link-visited-color: goldenrod;
	--link-hover-color: #000000;
	--link-active-color: lightgray;
}